name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      hoverfly:
        image: spectolabs/hoverfly:v1.1.5
        ports:
          - 8500:8500
          - 8888:8888

    env:
      HOVERFLY_HOST: localhost
      HOVERFLY_PROXY_PORT: 8500
      HOVERFLY_ADMIN_PORT: 8888

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - name: Run a one-line script
        run: echo Hello, world!
      - uses: "actions/setup-python@v2"
        with:
          python-version: "3.7"
      - name: Install poetry
        run: make install_poetry
      - name: Install
        run: make prepare
      - name: Lint
        run: |
          . .venv/bin/activate
          make lint
      - name: Test
        run: |
          . .venv/bin/activate
          make test










